[Unit]
Description=General Purpuse SLUG
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/var/www/hotslug/
ExecStart=/var/www/hotslug/hotslug
TimeoutStopSec=5
StandardOutput=null
StandardError=journal

[Install]
WantedBy = multi-user.target
